/* color palette */
:root {
  --cp-white: #fff;
  --cp-black: #181A1B;
  --cp-light-grey: #DDDDDD; 
  --cp-dark-grey: #696A6A;
  --cp-bright-green: #54EA55;
  --cp-dark-green: #16B917;

  --cp-pastel-green: #BBF99E;
  --cp-pastel-blue: #A5E4F9;
  --cp-pastel-purple: #CCBAFE;

  --cp-action-green: #23B610;
  --cp-action-red: #D71212;

  --cp-gradient1: #A6F6A4;
  --cp-gradient2: #F4F3CE;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--cp-white);

  --color-user: var(--cp-pastel-green);
  --color-event-creator: var(--cp-pastel-blue);
  --color-event-manager: var(--cp-pastel-purple);

  --color-text-dark: var(--cp-black);
  --color-text-light: var(--cp-dark-grey);
  --color-text-white: var(--cp-white);
  --color-text-green: var(--cp-bright-green);

  --color-primary-button-green: var(--cp-bright-green);
  --color-primary-button-green-hover: var(--cp-dark-green);
  --color-primary-button-black: var(--cp-black);
  --color-primary-button-black-hover: var(--cp-dark-grey);

  --section-gap: 160px;
}

body {
  min-height: 100vh;
  color: var(--cp-black);
  background: linear-gradient(45deg, var(--cp-gradient1), var(--cp-gradient2));
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 40px;
  background-color: var(--cp-white);
  border-radius: 15px;
  min-height: calc(100vh - 80px);
  position: relative;
}
