@import "./colors.css";

@font-face {
  font-family: FunnelDisplay;
  src: url("./fonts/FunnelDisplay.ttf");
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 20px;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--cp-black);
  background: linear-gradient(45deg, var(--cp-gradient1), var(--cp-gradient2));
  font-family:
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Fira Sans",
    "Droid Sans",
    "Helvetica Neue",
    sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Headings */

h1 {
  font-family: FunnelDisplay;
  font-size: 48px;
  margin: 0;
  font-weight: 700;
  color: var(--color-text-white);
}

h2 {
  font-family: FunnelDisplay;
  font-size: 40px;
  margin: 0;
  font-weight: 600;
  color: var(--color-text-dark);
}

h3 {
  font-family: FunnelDisplay;
  font-size: 36px;
  margin: 0;
  font-weight: 600;
  color: var(--color-text-dark);
}

h4 {
  font-family: FunnelDisplay;
  font-size: 30px;
  margin: 0;
  font-weight: 500;
  color: var(--color-text-dark);
}

/* Text */

p {
  font-family: FunnelDisplay;
  font-size: 14px;
  color: var(--color-text-dark);
  font-weight: 300;
}

.p-large {
  font-size: 16px;
  font-weight: 500;
}

.p-bold {
  font-weight: 500;
}

.p-light {
  font-weight: 300;
}

.light {
  color: var(--color-text-light);
}

.white {
  color: var(--color-text-white);
}

a {
  font-family: FunnelDisplay;
  text-decoration: none;
  transition: 0.4s;
  padding: 3px;
  color: var(--color-text-black);
}

.blocktext {
  text-align: justify;
}

/* Margin Options */

.no-margin {
  margin: 0;
}

.small-margin {
  margin: 5px;
}

.heading-margin {
  margin-bottom: 20px;
}

.form-heading-margin {
  margin-bottom: 5px;
}

/* Color Classes */

.bg-white {
  background-color: var(--color-text-white);
}

.bg-grey {
  background-color: var(--cp-light-grey);
}

.bg-customer {
  background-color: var(--color-customer);
}

.bg-event-manager {
  background-color: var(--color-event-manager);
}

.bg-event-creator {
  background-color: var(--color-event-creator);
}

.nav-item-active {
  color: var(--cp-bright-green);
}

.highlight-red {
  color: var(--cp-highlight-red);
}

.highlight-green {
  color: var(--cp-highlight-green);
}

.bg-highlight-red {
  background-color: var(--cp-highlight-red);
}

.bg-highlight-green {
  background-color: var(--cp-highlight-green);
}

/* Containers */

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 15px 40px;
  background-color: var(--cp-white);
  border-radius: 15px;
  position: relative;
}

.router-view-container {
  min-height: calc(100vh - 150px);
}

.content-container {
  padding: 20px 20px 100px 20px;
}

/* Buttons */
.icon-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
}
